<app-simple>
    <app-header>
        <span class="example-spacer"></span>
    </app-header>
    <app-content-view>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-auto">
                    <h2>Offers</h2>
                </div>
                <div class="progress col-md-10"
                     style="height: 25px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         [style.fontSize]="'25px'"
                         [style.width]="progressbarValue + '%'"><b>{{progressbarSeconds + ' sec.'}}</b></div>
                </div>
                <div class="col-md-auto">
                    <nb-icon style="color: #4c90d6; font-weight: bold;"
                             (click)="refresh()"
                             icon="refresh"
                             [options]="{ animation: { type: 'zoom' } }">
                    </nb-icon>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <app-offer class="col-md-4"
                           [offer]="offer"
                           *ngFor="let offer of offers; index as i;"
                           (buyClick)="offerBy(offer)"
                ></app-offer>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <!--<h3>Property</h3>-->
                </div>
            </div>
            <div class="row">
                <app-property-list class="col-md-8"></app-property-list>
                <app-new-view
                        *ngIf="currentNew"
                        class="col-md-4"
                        [currentNew]="currentNew"></app-new-view>
            </div>
            <div class="row">
                <app-charts-view
                        class="col-md-12"></app-charts-view>
            </div>
        </div>
    </app-content-view>
</app-simple>
