@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-icons/iconfont/material-icons.css";
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';


@include mat-core();
$primary: mat-palette($mat-grey);
$accent:  mat-palette($mat-light-blue, 600, 300, 600);
$warn:    mat-palette($mat-deep-orange, 300, 500, 800);

$theme:   mat-light-theme($primary,$accent,$warn);
@include angular-material-theme($theme);

@mixin ngx-pace-theme() {

  .pace .pace-progress {
    background: nb-theme(color-primary-default);
  }

  .pace .pace-progress-inner {
    box-shadow: 0 0 10px nb-theme(color-primary-default), 0 0 5px nb-theme(color-primary-default);
  }

  .pace .pace-activity {
    display: none;
  }
}
